{{- if .Params.comments | default .Site.Params.comments -}}
<div id="giga-fora-comments"></div>
<script>
  (function() {
    var s = document.createElement('script');
    s.src = 'https://giga.mobile/embed.js';
    s.async = true;
    s.onload = function() {
      Fora.mount('#giga-fora-comments', {
        siteKey: '{{ .Site.Params.foraSiteKey | default "YOUR_SITE_KEY" }}',
        pageId: '{{ .RelPermalink }}',
        pageTitle: '{{ .Title }}',
        theme: 'auto'
      });
    };
    document.head.appendChild(s);
  })();
</script>
{{- end -}}
